@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

/* Root Variables */
:root {
    --overlay-color:#0b334680;
}

/* Universal Selector */
* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 font-family: 'poppins', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
  }


.social img {
    height: 30px;
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: white;
    z-index: 2;
    transition: 0.5s;
}

.showcase header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    text-transform: uppercase;
    cursor: pointer;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url('menu.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}


.toggle.active {
    background: url('https://i.ibb.co/rt3HybH/close.png');
    background-repeat: no-repeat;
    background-size: 25;
    background-position: center;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.showcase.active {
    right: 300px;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--overlay-color);
    mix-blend-mode: overlay;
}
.overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(206, 229, 250, 0.493);
    mix-blend-mode: overlay;
}
.overlay3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(146, 220, 230, 0.555);
    mix-blend-mode: overlay;
}
.overlay4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(235, 227, 227, 0.61);
    mix-blend-mode: overlay;
}

.overlay5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.575);
    mix-blend-mode: overlay;
}

/* Blog CSS */

#blog.container {
    display: flex;
    justify-content: center;
    height: 300px;
    backdrop-filter: blur(20px);
}

#blog.container a{
    justify-content: center;
    display: flex;
}

#blog.container .text h3 {
    font-size: 4em;
}

.var-highlight{
    color: #e23529;
}
  
.string-highlight{
    color: rgba(214, 194, 16, 0.966);
}



/* Contact CSS */

.grid {
    grid-template-columns: 1fr 1fr;
    display: grid;
    justify-content: space-between;
    width: 100%;
}

.container {
    backdrop-filter: blur(10px);
    max-width: 530px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 10px;
}

#tristan.anchorContainer {
    margin-top: 120px;
}

.anchorContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.anchorContainer a {
    display: flex;
    justify-content: center;
}

.image img {
    backdrop-filter: blur(10px);
}

.text {
    position: relative;
    z-index: 10;
}

.text h2 {
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
}

#contact.text h2 {
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
    text-align: center;
}

.text h3 {
    font-size: 4em;
    text-align: center;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
}

.text p {
    text-align: center;
}

.text a {
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-decoration: none;
    color: #111;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
}

.text a:hover {
    letter-spacing: 6px;
}

#news .text {
    left: 0;
    margin-left: 100px;
    position: fixed;
}

.videoGrid {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 10px;    
}

.videoGrid iframe {
    border: none;    
    margin-top: 10px;
    width: 400px;
    height: 224px;
}

.social {
    position: absolute;
    bottom: 20px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social li {
    list-style: none;
}

.social li a {
    display: inline-block;
    filter: invert(1);
    margin-right: 25px;
    transition: 0.5s;
}

.social li a:hover {
    transform: scale(1.2) translateY(-15px);
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul {
    position: relative;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    color: #111;
}

.menu ul li a:hover {
    color: rgb(0, 255, 34);
}



/* Anything 991px and under, these styles will apply to these classes */
@media(max-width: 798px) {
    .showcase, .showcase header {
        padding: 40px;
    }

    .text h2 {
        font-size: 3em;
    }

    .text h3 {
        font-size: 2em
    }

    .text a {
        margin-left: 60px;
    }

    .videoGrid {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }

    .videoGrid iframe{
        margin-bottom: 10px;
        width: 100%;
    }

    /* Blog Media Query */

    #blog.container {
        height: 300px;
        margin-top: -80px;
        width: 340px;
    }

    #blog.container .text h3 {
        font-size: 2em;
        margin-bottom: 10px;
    }

    #blog.container pre#typewriter  {
        margin-left: -80px;
    }

    /* Contact Media Query */

    .grid {
        grid-template-columns: 1fr;
        display: grid;
        margin-top: 70px;
        margin-bottom: 50px;
        width: 200px;
        margin-left: -20px;
    }

    .text {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .container {
        margin-top: 20px;

    }

    .image {
        align-content: center;
    }

    .image img {
        padding: 0px;
        height: 350px;
        margin-top: 200px;
    }

    
    .anchorContainer {
        margin-left: -30px;
        margin-top: 10px;
    }

    #tristan.anchorContainer {
        margin-top: 10px;
    }
}



